@import '../common.less';
@import '../popup-contents.less';

mat-icon {
    cursor: pointer;
    position: absolute;
    top: 0px;
    background-color: white;
    border-radius: 4px;
    left: 0;
    &.forward {
        left: auto;
        right: 0;
    }      
}

.photo-gallery{
    position: relative;
    min-height: 500px;
    display: block;
    overflow: hidden;
}

.photo {
    position: absolute;
    top: 0;
    transition: transform 0.25s;

    img {
        margin-top: 32px;
        width: 100%;
        height: 100%;
        object-fit: contain;
        flex: 0 0 auto;
        align-self: center;
        .nice-shadow;
    } 

    &.current-photo{
        transform: translateX(0);
    }

    &.left {
        transform: translateX(-100%);
    }
    &.right {
        transform: translateX(100%);
    }
}
