<app-airtable-layout 
    id='status-predictions'
    mapStyle='mapbox://styles/wpdx/ckl88cymr11bm17o2bj8rgiut'
    [interactionLayers]='LAYERS'
    (map)='map = $event'
    (mapPopup)='popupProperties = $event'
>
    <div class='workspace' ngProjectAs='.content'>
        <app-controls>
            <app-legend-control>
                <p class='legend-row'><span class='status-circle functional'></span>&nbsp;Functional Water Point</p>
                <p class='legend-row'><span class='status-circle'></span>&nbsp;Non-Functional Water Point</p>
            </app-legend-control>
            <app-filters-control>
                <app-custom-selector [(value)]='layer' title='Timeframe' [options]='TIMEFRAME_OPTIONS'></app-custom-selector>
                <app-adm-selector optionsUrl='/assets/status-predictions/levels.json' (state)='handleState($event)'></app-adm-selector>
            </app-filters-control>
        </app-controls>
    </div>
    <div class='map-popup'>
        <p>
            <mat-icon>invert_colors</mat-icon>&nbsp;<label>Status:</label> 
        </p>
        <div class='popup-functionality'>
            <div class='popup-functionality-single'>
                <div class='status-circle' [class.functional]='popupProperties.status_id === "Yes"'></div>
                <!-- <div class='status-text'>{{popupProperties.status_id}}</div> -->
                <div class='status-date'>Last Known<br/>{{popupProperties.report_date}}</div>    
            </div>
            <div class='popup-functionality-single'>
                <div class='status-circle' [class.functional]='popupProperties.status_0 === "YES"'></div>
                <!-- <div class='status-text'>{{popupProperties.status_id}}</div> -->
                <div class='status-date'>As of today</div>    
                <div class='status-prob'>p: {{popupProperties.status_0_prob * 100 | number:'1.0-0'}}%</div>    
            </div>
            <div class='popup-functionality-single'>
                <div class='status-circle' [class.functional]='popupProperties.status_1 === "YES"'></div>
                <!-- <div class='status-text'>{{popupProperties.status_1}}</div> -->
                <div class='status-date'>Today + 1</div>    
                <div class='status-prob'>p: {{popupProperties.status_1_prob * 100 | number:'1.0-0'}}%</div>    
            </div>
            <div class='popup-functionality-single'>
                <div class='status-circle' [class.functional]='popupProperties.status_3 === "YES"'></div>
                <!-- <div class='status-text'>{{popupProperties.status_3}}</div> -->
                <div class='status-date'>Today + 3</div>    
                <div class='status-prob'>p: {{popupProperties.status_3_prob * 100 | number:'1.0-0'}}%</div>    
            </div>
        </div>
    </div>
</app-airtable-layout>