@import '../common-components/common.less';

.workspace {
    height: 100%;
    width: 100%;
    position: relative;
    pointer-events: none;

    .controls {
        pointer-events: all;
        position: absolute;
        z-index: @zIndexFilters;
        .desktop({
            top: 16px;
            left: 16px;    
        });
        .mobile({
            top: 0;
            left: 0;
            width: 100%;
        });
        justify-content: space-between;
        align-items: center;

        .mat-expansion-panel-header-description {
            flex: 0 0 auto;
        }

        .mobile({
            ::ng-deep {
                .mat-card-title {
                    font-size: 18px;
                }
            }    
        });
        label {
            .fontSans;
            font-weight: 300;
            margin-right: 24px;
            margin-bottom: 16px;
            font-size: 16px;
        }
        .legend-row {
            display: flex;
            flex-flow: row;
            align-items: center;
            .status-circle {
                margin-inline-end: 8px;
            }
        }
    }
}

.map-popup {

    .popup-functionality {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        width: 364px;

        .popup-functionality-single {
            flex: 0 0 75px;
            margin: 8px;
            display: flex;
            flex-flow: column;
            align-items: center;
            .status-circle {
                margin-bottom: 12px;
            }
            .status-date {
                text-align: center;
            }
        }
    }
}


.status-circle {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #b80000;
    display: inline-block;
    &.functional {
        background-color: #086efd;
    }
}
