@import '../common-components/common.less';

.content {
    height: 100%;
    width: 100%;
    position: relative;

    lib-map-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .controls {
        position: absolute;
        z-index: @zIndexFilters;
        .desktop({
            top: 16px;
            left: 16px;    
        });
        .mobile({
            top: 0;
            left: 0;
            width: 100%;
        });
        justify-content: space-between;
        align-items: center;

        .mat-expansion-panel-header-description {
            flex: 0 0 auto;
        }

        .mobile({
            ::ng-deep {
                .mat-card-title {
                    font-size: 18px;
                }
            }    
        });
        label {
            .fontSans;
            font-weight: 300;
            margin-right: 24px;
            margin-bottom: 16px;
            font-size: 16px;
        }
    }
}
::ng-deep .mapboxgl-popup {
    max-width: 600px;
    .mapboxgl-popup-content {
        padding: 16px 8px;
    }
}

.popup-template {
    font-size: 12px;
    line-height: 18px;
    display: flex;
    flex-flow: row;
    align-items: flex-start;

    .popup-info {
        display: flex;
        flex-flow: column;
        align-items: flex-start; 
        flex: 1 1 auto;
        .fontSans;
        p {
            margin: 0 0 4px;
            margin-top: 8px;
        }
        a, a:visited, a:hover {
            text-decoration: none;
            color: inherit;
        }
        mat-icon {
            font-size: 20px;
            vertical-align: middle;
        }
        label {
            font-weight: 500;
            mat-icon {
                font-size: 24px;
                vertical-align: bottom;
            }
        }
        
        .popup-functionality {
            display: flex;
            flex-flow: row;
            align-items: flex-start;
            width: 364px;

            .popup-functionality-single {
                flex: 0 0 75px;
                margin: 8px;
                display: flex;
                flex-flow: column;
                align-items: center;
                .status-circle {
                    width: 12px;
                    height: 12px;
                    border: 1px solid black;
                    border-radius: 6px;
                    background-color: #b80000;
                    &.functional {
                        background-color: #086efd;
                    }
                }
                .status-date {
                    text-align: center;
                }
            }
        }
    }

    > img {
        margin-left: 16px;
        margin-right: 8px;
        max-width: 400px;
        flex: 0 0 auto;
        align-self: center;
        .nice-shadow;
    }

}