@import '../common-components/common.less';

.workspace {
    height: 100%;
    width: 100%;
    position: relative;
    pointer-events: none;
}

.map-popup {

    .popup-functionality {
        display: flex;
        flex-flow: row;
        align-items: flex-start;
        width: 364px;

        .popup-functionality-single {
            flex: 0 0 75px;
            margin: 8px;
            display: flex;
            flex-flow: column;
            align-items: center;
            .status-circle {
                margin-bottom: 12px;
            }
            .status-date {
                text-align: center;
            }
        }
    }
}


.status-circle {
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: #b80000;
    display: inline-block;
    &.functional {
        background-color: #086efd;
    }
}
