<div>
    <p class='adm-location'>
        <span class='adm-label' [class.active]='selectedSection === 0' (click)='selectedSection = 0'>{{popupProperties.NAME_0}}</span>
        <ng-container *ngIf='popupProperties.NAME_1'>
            &nbsp;&gt;&nbsp;
            <span class='adm-label' [class.active]='selectedSection === 1' (click)='selectedSection = 1'>{{popupProperties.NAME_1}}</span>
            <ng-container *ngIf='popupProperties.NAME_2'>
                &nbsp;&gt;&nbsp;
                <span class='adm-label' [class.active]='selectedSection === 2' (click)='selectedSection = 2'>{{popupProperties.NAME_2}}</span>
                <ng-container *ngIf='popupProperties.NAME_3'>
                    &nbsp;&gt;&nbsp;
                    <span class='adm-label' [class.active]='selectedSection === 3' (click)='selectedSection = 3'>{{popupProperties.NAME_3}}</span>
                    <ng-container *ngIf='popupProperties.NAME_4'>
                        &nbsp;&gt;&nbsp;
                        <span class='adm-label' [class.active]='selectedSection === 4' (click)='selectedSection = 4'>{{popupProperties.NAME_4}}</span>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>
        <a [href]='"https://www.google.com/maps/@" + (popupProperties.y) + "," + (popupProperties.x) + ",16z"' target='_blank'><mat-icon>launch</mat-icon></a>
    </p>
    <ng-container *ngIf ='selectedSection >= 0 && admPopupSections[selectedSection]'>
        <h2>{{admPopupSections[selectedSection].title}}</h2>
        <p>
            <mat-icon>water_drop</mat-icon><label>{{admPopupSections[selectedSection].staleness_count | number:'1.0-0'}} water points ({{admPopupSections[selectedSection].func_waterpoints | number:'1.0-0'}} functional)</label>
        </p>
        <p>
            <mat-icon>people</mat-icon><label>Total Population:</label>&nbsp;{{admPopupSections[selectedSection].total_pop | number:'1.0-0'}} ppl 
        </p>
        <p>
            <mat-icon>people</mat-icon><label>Rural Population:</label>&nbsp;{{admPopupSections[selectedSection].rural_pop | number:'1.0-0'}} ppl<ng-container *ngIf='admPopupSections[selectedSection].rural_pop'>, of which</ng-container>
        </p>
        <ng-container *ngIf='admPopupSections[selectedSection].rural_pop'>
            <div class='indent'>
                <p>
                    <mat-icon>people</mat-icon><label>with Basic Access:</label>&nbsp;{{(admPopupSections[selectedSection].served_pop) | number:'1.0-0'}} ppl ({{((admPopupSections[selectedSection].served_pop/admPopupSections[selectedSection].rural_pop)*100).toFixed(2)+"%"}})
                </p>
                <p>
                    <mat-icon>people</mat-icon><label>without Basic Access:</label>&nbsp;{{(admPopupSections[selectedSection].unserved_pop) | number:'1.0-0'}} ppl ({{((admPopupSections[selectedSection].unserved_pop/admPopupSections[selectedSection].rural_pop)*100).toFixed(2)+"%"}})
                </p>
                <p>
                    <mat-icon>people</mat-icon><label>Uncharted areas:</label>&nbsp;{{admPopupSections[selectedSection].uncharted_pop | number:'1.0-0'}} ppl ({{((admPopupSections[selectedSection].uncharted_pop/admPopupSections[selectedSection].rural_pop)*100).toFixed(2)+"%"}})
                </p>
            </div>
        </ng-container>
        
        <ng-container *ngIf='rpState.mode === "risk-index"'>
            <p>
                <mat-icon>bolt</mat-icon><label>Risk Index:</label>&nbsp;{{admPopupSections[selectedSection].predicted_risk_index * 100 | number:'1.0-0'}}
            </p>
            <p>
                <mat-icon>tips_and_updates</mat-icon><label>Prediction of number of Functional/Non-Functional Points</label>
            </p>
            <app-spark-line [popupProperties]='admPopupSections[selectedSection]' 
                            [fields]='["predictedFunctional:blue", "predictedNonFunctional:red"]'
                            [percent]='false'
                            *ngIf='admPopupSections[selectedSection].predictedFunctional'></app-spark-line>
        </ng-container>

        <mat-accordion>
            <mat-expansion-panel [expanded]="viz === 0" (opened)="setViz(0)"  *ngIf='install_year_data[selectedSection] && install_year_data[selectedSection].length'>
                <mat-expansion-panel-header>
                    <mat-panel-title>Water Point Install Years</mat-panel-title>
                </mat-expansion-panel-header>
                <app-bar [data]='install_year_data[selectedSection]'
                        xAxisTitle='Install Year' yAxisTitle='# Water Points'
                        [min]='install_year_data[selectedSection][0]'
                        [max]='install_year_data[selectedSection][install_year_data[selectedSection].length-1]'
                        color='#ffd580'>
                </app-bar>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="viz === 1" (opened)="setViz(1)"  *ngIf='state_data[selectedSection] && state_data[selectedSection].length'>
                <mat-expansion-panel-header>
                    <mat-panel-title>Water Point Status</mat-panel-title>
                </mat-expansion-panel-header>
                <app-pie [data]='state_data[selectedSection]'></app-pie>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="viz === 2" (opened)="setViz(2)"  *ngIf='source_data[selectedSection] && source_data[selectedSection].length'>
                <mat-expansion-panel-header>
                    <mat-panel-title>Water Source Distribution</mat-panel-title>
                </mat-expansion-panel-header>
                <app-pie [data]='source_data[selectedSection]'></app-pie>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="viz === 3" (opened)="setViz(3)"  *ngIf='tech_data[selectedSection] && tech_data[selectedSection].length'>
                <mat-expansion-panel-header>
                    <mat-panel-title>Water Tech Distribution</mat-panel-title>
                </mat-expansion-panel-header>
                <app-pie [data]='tech_data[selectedSection]'></app-pie>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="viz === 4" (opened)="setViz(4)"  *ngIf='management_data[selectedSection] && management_data[selectedSection].length'>
                <mat-expansion-panel-header>
                    <mat-panel-title>Water Point Management</mat-panel-title>
                </mat-expansion-panel-header>
                <app-pie [data]='management_data[selectedSection]'></app-pie>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>
</div>
