.workspace {
    height: 100%;
    width: 100%;
    position: relative;
    pointer-events: none;
}

table {
    border-collapse: collapse;
    td, th {
        padding: 4px 8px;
    }
    tr {
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
        &:nth-child(2n+1) {
            background-color: #ddd;
            &:hover {
                background-color: #ccc;
            }
        }
    }
}