@import '../common-components/common.less';
@import '../common-components/popup-contents.less';

.workspace {
    height: 100%;
    width: 100%;
    position: relative;
    pointer-events: none;

    .toggles {
        display: flex;
        flex-flow: column;
        // align-items: center;
        // justify-content: space-between;

        .mat-select {
            width: 150px;
        }

        .mat-slide-toggle {
            margin-right: 20px;
        }
        margin-bottom: 20px;
    }
    .download {
        display:flex;
        flex-flow: row;
        align-items: center;
        margin-top: 20px;
        text-decoration: none;
        color: inherit;
    }
}

table {
    border-collapse: collapse;
    td, th {
        padding: 4px 8px;
        mat-icon {
            font-size: 25px;
            display: inline;
            line-height: 0.8;
            vertical-align: top;
        }
        &.clickable {
            cursor: pointer;
        }
    }
    tr {
        cursor: pointer;
        &:hover {
            background-color: #eee;
        }
        &:nth-child(2n+1) {
            background-color: #ddd;
            &:hover {
                background-color: #ccc;
            }
        }
    }
}

mat-label {
    font-weight: 500;
    margin-top: 16px;
}

.top-bar {
    display: flex;
    flex-flow: column;
    align-items: center;

    .controls {
        padding: 8px 16px;
        display: flex;
        flex-flow: row;
        align-items: flex-end;
        gap: 16px;
        pointer-events: none;
        // background: rgba(0, 0, 0, 0.25);
        background: linear-gradient(180deg, #ffffff 0%, #ffffff50 2px, #3f51b550 4px, #3f51b550 100%);
        backdrop-filter: blur(5px);
        .nice-shadow;
        align-self: stretch;
    
        > * {
            color: white;
            pointer-events: all;
        }
    
        .with-title {
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            background-color: #ffffff60;
            border-radius: 4px;
            padding: 0 4px;
            padding-bottom: 4px;

            span {
                font-size: 12px;
                font-weight: light;
                color: #000;
                margin-bottom: 4px;
            }

            mat-select {
                margin: 0;
            }
        }

        .mat-select {
            margin: 0 8px;
            flex: 0 1 auto;
            width: 250px;
            background-color: rgba(224, 224, 224, 0.8);
            padding: 2px 8px;
            border-radius: 4px;
        }
    
        ::ng-deep {
            .mat-select-value {
                color: #333333;
                font-weight: bolder;
            }
            .mat-button-toggle {
                background-color: rgba(224, 224, 224, 0.8);
                &.mat-button-toggle-checked {
                    background-color: rgba(255, 255, 255, 0.8);
                    font-weight: bolder;
                }
                .mat-button-toggle-label-content {
                    line-height: inherit;
                    color: #333;                    
                }
            }
            .mat-slide-toggle-content {
                display: flex;
                flex-flow: row;
                align-items: center;
                gap: 4px;
            }
        }
    }
    .legend {
        display: flex;
        flex-flow: column;
        align-items: stretch;
        align-self: flex-end;
        padding: 8px;
        gap: 4px;
        
        background-color: rgba(255, 255, 255, 0.85);        
        backdrop-filter: blur(5px);
        .nice-shadow;
        margin-top: 8px;
        margin-right: 8px;
        position: relative;

        max-height: 34px;
        .legend-title {
            margin-top: 0;
            transition: margin-top 0.2s ease-in-out;
        }
        &.open {
            max-height: 400px;
            .legend-title {
                margin-top: -26px;
            }
        }
        overflow-y: hidden;
        transition: max-height 0.2s ease-in-out;
        strong {
            margin-right: 32px;
        }
        .legend-control {
            position: absolute;
            top: 6px;
            right: 6px;
            cursor: pointer;
        }

        .legend-item {
            display: flex;
            flex-flow: row;
            gap: 12px;
            justify-content: flex-start;
            align-items: center;

            img {
                display: block;;
                height: 60px;
            }

            .legend-color {
                display: block;
                width: 16px;
                height: 12px;
                border: 1px solid #333333;
            }

            .legend-label {
                display: flex; 
                flex-flow: column;
                max-width: 300px;

                > span {
                    display: flex;
                    flex-flow: row;
                    align-items: flex-start;    
                    gap: 8px;
                    .fontSans;
                    line-height: 16px;
                }
            }

        }
    }
}

.map-popup {
    .popup-styling;
    .indent {
        padding-left: 16px;
    }
    h3 {
        margin: 32px 0 0 0;
        font-weight: 600;
        &:first-child {
            margin-top: 0;
        }
    }
}

.data-table {
    padding: 8px 16px;
    .nice-shadow;
    border-radius: 4px;
    background-color: white;

    .placeholders {
        display: flex;
        flex-flow: column;
        .row-placeholder {
            &:nth-child(2n+1) {
                .loading;
            }
            width: 100%;
            height: 28px;
        }
    }
}
