<app-airtable-layout
    id='rehab-prio'
    [interactionLayers]='["all-waterpoints", "rehab-priority-circles", "rehab-priority-text"]'
    mapStyle='mapbox://styles/wpdx/ckjmvff0e1tng19o33klef59z'
    (map)='setMap($event)'
    (mapPopup)='popupProperties = $event'
>
    <div class='workspace' ngProjectAs='.content'>
        <app-controls>
            <app-legend-control [expanded]='false'>
                <img src='/assets/img/rehab-prio-legend.svg'/>
            </app-legend-control>
            <app-filters-control>
                <app-adm-selector optionsUrl='' (state)='navigateTo($event)'></app-adm-selector>
            </app-filters-control>
            <app-legend-control [title]='"Top " + (top10 && top10.length ? top10.length : "" ) + " water points"'>
                <div class='toggles'>
                    <mat-slide-toggle [(ngModel)]='all_waterpoints'>Show functional points</mat-slide-toggle>
                    <mat-slide-toggle [(ngModel)]='show_urban'>Show points in urban areas</mat-slide-toggle>
                    <mat-select [(value)]='sort_by'>
                        <mat-option *ngFor="let option of sort_options" [value]="option.value">
                        {{option.display}}
                        </mat-option>
                    </mat-select>            
                </div>
                <table *ngIf='top10 && top10.length'>
                    <thead>
                        <th>#</th>
                        <th>Functional?</th>
                        <th>Source</th>
                        <th>Tech</th>    
                        <th>Local Pop.</th>
                        <th>Served Pop.</th>
                        <th>Criticality</th>
                        <th>Pressure</th>
                    </thead>
                    <tbody>
                        <tr *ngFor='let row of top10; let rank = index;' (click)='gotoPoint(row)'>
                            <td>{{rank + 1}}</td>
                            <td>{{row.status_id || 'Unknown' }}</td>
                            <td>{{row.water_source_clean || 'Unknown' }}</td>
                            <td>{{row.water_tech_clean || 'Unknown' }}</td>
                            <td>{{row.local_population | number:'1.0-0' }}</td>
                            <td>{{row.assigned_population | number:'1.0-0' }}</td>
                            <td>{{row.criticality * 100 | number:'1.0-1' }}%</td>
                            <td>{{row.pressure * 100 | number:'1.0-1' }}</td>
                        </tr>
                    </tbody>
                </table>
                <a class='download' *ngIf='top10 && top10.length' target="_blank" [href]='downloadUrl()'>
                    <mat-icon aria-hidden="false" aria-label="download icon">file_download</mat-icon>
                </a>
            </app-legend-control>
            <app-legend-control [title]='"Settings"' [expanded]='false'>
                <div class='toggles'>
                    <mat-slide-toggle [(ngModel)]='show_point_counts'>Show point counts</mat-slide-toggle>
                </div>
            </app-legend-control>
        </app-controls>
    </div>
    <div class='map-popup'>
        <p *ngIf='popupProperties.local_population > 0'>
            <mat-icon>people</mat-icon>&nbsp;<label>Population in 2km radius:</label> {{popupProperties.local_population | number:'1.0-0'}} ppl
        </p>
        <p *ngIf='popupProperties.assigned_population > 0 && popupProperties.status_id !== "No"'>
            <mat-icon>people</mat-icon>&nbsp;<label>Population served:</label> {{popupProperties.assigned_population | number:'1.0-0'}} ppl
        </p>
        <p *ngIf='popupProperties.assigned_population > 0 && popupProperties.status_id === "No"'>
            <mat-icon>people</mat-icon>&nbsp;<label>Population that would be served:</label> {{popupProperties.assigned_population | number:'1.0-0'}} ppl
        </p>
        <p *ngIf='popupProperties.usage_cap > 0'>
            <mat-icon>open_in_full</mat-icon>&nbsp;<label>Usage Capacity for this Point:</label> {{popupProperties.usage_cap | number:'1.0-0'}} ppl
        </p>

    </div>
</app-airtable-layout>