<app-airtable-layout
    id='rehab-prio'
    [interactionLayers]='["rehab-priority-text", "all-waterpoints"]'
    [filters]='filterConfiguration'
    [popupProperties]='popupProperties'
    mapStyle='mapbox://styles/wpdx/ckjmvff0e1tng19o33klef59z'
    (map)='setMap($event)'
    (mapPopup)='popupProperties = $event'
    (filterSelected)='nav = $event'
>
    <ng-container ngProjectAs='.menu'>
        <button mat-menu-item (click)='openAttributeFilterDialog()'>
            <mat-icon>filter_alt</mat-icon>
            <span>Filter by Attributes</span>
        </button>
        <button mat-menu-item (click)='openRegionFilterDialog()'>
            <mat-icon>travel_explore</mat-icon>
            <span>Filter by Region</span>
        </button>
        <button mat-menu-item (click)='openSettingsDialog()'>
            <mat-icon>settings</mat-icon>
            <span>View Settings</span>
        </button>
        <button mat-menu-item (click)='downloadData()'>
            <mat-icon aria-hidden="false" aria-label="download icon">file_download</mat-icon>
            <span>Download Data</span>
        </button>
    </ng-container>
    <div class='workspace' ngProjectAs='.content'>
        <app-controls>
            <!-- <app-adm-selector optionsUrl='' (state)='navigateToAdm($event)' *ngIf='nav === "adm"'></app-adm-selector> -->
            <!-- <app-attribute-filter (changed)='navigateToAttrib($event)' *ngIf='nav === "attributes"'></app-attribute-filter> -->
            <ng-container *ngIf='nav === "data-table"'>
                <table>
                    <thead>
                        <th>#</th>
                        <th>Functional?</th>
                        <th>Source</th>
                        <th>Tech</th>    
                        <th class='clickable' (click)='sort_by = rpState.sort_options[0].value'>Local Pop.<mat-icon *ngIf='sort_by === rpState.sort_options[0].value'>arrow_drop_down</mat-icon></th>
                        <th class='clickable' (click)='sort_by = rpState.sort_options[1].value'>Served Pop.<mat-icon *ngIf='sort_by === rpState.sort_options[1].value'>arrow_drop_down</mat-icon></th>
                        <th class='clickable' (click)='sort_by = rpState.sort_options[2].value'>Crucialness<mat-icon *ngIf='sort_by === rpState.sort_options[2].value'>arrow_drop_down</mat-icon></th>
                        <th class='clickable' (click)='sort_by = rpState.sort_options[3].value'>Pressure<mat-icon *ngIf='sort_by === rpState.sort_options[3].value'>arrow_drop_down</mat-icon></th>
                    </thead>
                    <tbody *ngIf='rpState.top10 && rpState.top10.length'>
                        <tr *ngFor='let row of rpState.top10; let rank = index;' (click)='gotoPoint(row)'>
                            <td>{{rank + 1}}</td>
                            <td>{{row.status_id || 'Unknown' }}</td>
                            <td>{{row.water_source_clean || 'Unknown' }}</td>
                            <td>{{row.water_tech_clean || 'Unknown' }}</td>
                            <td>{{row.local_population | number:'1.0-0' }}</td>
                            <td>{{row.assigned_population | number:'1.0-0' }}</td>
                            <td>{{row.criticality * 100 | number:'1.0-1' }}%</td>
                            <td>{{row.pressure * 100 | number:'1.0-1' }}%</td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <ng-container *ngIf='nav === "download"'>
                <a class='download' target="_blank" [href]='downloadUrl()'>
                    <mat-icon aria-hidden="false" aria-label="download icon">file_download</mat-icon>&nbsp;Download all visible points as an Excel file
                </a>
            </ng-container>
        </app-controls>
    </div>
    <div class='map-popup'>
        <app-base-waterpoint-popup [popupProperties]='popupProperties' *ngIf='popupProperties.wpdx_id'>
            <p *ngIf='popupProperties.local_population > 0'>
                <mat-icon>people</mat-icon><label>Population in 1km radius:</label>&nbsp;{{popupProperties.local_population | number:'1.0-0'}} ppl
            </p>
            <p *ngIf='popupProperties.criticality > 0'>
                <mat-icon>warning</mat-icon><label>Crucialness:</label>&nbsp;{{popupProperties.criticality * 100 | number:'1.0-0'}}%
            </p>
            <p *ngIf='popupProperties.pressure > 0'>
                <mat-icon>compress</mat-icon><label>Pressure:</label>&nbsp;{{popupProperties.pressure * 100 | number:'1.0-0'}}%
            </p>
            <p *ngIf='popupProperties.assigned_population > 0 && popupProperties.status_id === "Yes"'>
                <mat-icon>people</mat-icon><label>Likely Current Users:</label>&nbsp;{{popupProperties.assigned_population | number:'1.0-0'}} ppl
            </p>
            <p *ngIf='popupProperties.assigned_population > 0 && popupProperties.status_id !== "Yes"'>
                <mat-icon>people</mat-icon><label>Users who would gain access:</label>&nbsp;{{popupProperties.assigned_population | number:'1.0-0'}} ppl
            </p>
            <p *ngIf='popupProperties.usage_cap > 0'>
                <mat-icon>open_in_full</mat-icon><label>Usage Capacity for this Point:</label>&nbsp;{{popupProperties.usage_cap | number:'1.0-0'}} ppl
            </p>
        </app-base-waterpoint-popup>
        <ng-container *ngIf='!popupProperties.wpdx_id'>
            <ng-container *ngFor='let section of admPopupSections'>
                <h3>{{section.title}}</h3>
                <p>
                    <mat-icon>people</mat-icon><label>Total Population:</label>&nbsp;{{section.total_pop | number:'1.0-0'}} ppl
                </p>
                <p>
                    <mat-icon>people</mat-icon><label>Rural Population:</label>&nbsp;{{section.rural_pop | number:'1.0-0'}} ppl, of which
                </p>
                <div class='indent'>
                    <p>
                        <mat-icon>people</mat-icon><label>Served:</label>&nbsp;{{(section.rural_pop - section.unserved_pop) | number:'1.0-0'}} ppl
                    </p>
                    <p>
                        <mat-icon>people</mat-icon><label>Unserved:</label>&nbsp;{{(section.unserved_pop - section.uncharted_pop) | number:'1.0-0'}} ppl    
                    </p>
                    <p>
                        <mat-icon>people</mat-icon><label>Unknown:</label>&nbsp;{{section.uncharted_pop | number:'1.0-0'}} ppl    
                    </p>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class='top-bar'>
        <div class='controls'>
            <mat-select [(value)]='rpState.mode'>
                <mat-option value="rehab-prio">Rehab Priority Analysis</mat-option>
                <mat-option value="adman">Adm Region Analysis</mat-option>
                <mat-option value="staleness">Staleness Analysis</mat-option>
            </mat-select>
            <mat-slide-toggle [(ngModel)]='rpState.all_waterpoints'>Functional Points</mat-slide-toggle>
            <ng-container *ngIf='rpState.mode === "rehab-prio"'>
                <mat-slide-toggle [(ngModel)]='rpState.show_population_density'>Pop. Density</mat-slide-toggle>
                <mat-slide-toggle [(ngModel)]='rpState.show_landcover'>Roads & Buildings</mat-slide-toggle>
            </ng-container>
            <ng-container *ngIf='rpState.mode === "adman" || rpState.mode === "staleness"'>
                <mat-button-toggle-group [(ngModel)]="rpState.adman_level" aria-label="ADM Level" appearance='Legacy'>
                    <mat-button-toggle value="adm1" [disableRipple]='true'>Adm1</mat-button-toggle>
                    <mat-button-toggle value="adm2" [disableRipple]='true'>Adm2</mat-button-toggle>
                    <mat-button-toggle value="adm3" [disableRipple]='true'>Adm3</mat-button-toggle>
                    <mat-button-toggle value="best" [disableRipple]='true'>Best</mat-button-toggle>
                </mat-button-toggle-group>
            </ng-container>
            <ng-container *ngIf='rpState.mode === "adman"'>
                <mat-select [(value)]='rpState.adman_view'>
                    <mat-option value="served">Highlight <span class='hl-served'>Served</span> & <span class='hl-urban'>Urban</span> Regions</mat-option>
                    <mat-option value="unserved">Highlight <span class='hl-unserved'>Unserved</span> Regions</mat-option>
                    <mat-option value="uncharted">Highlight <span class='hl-uncharted'>Uncharted</span> Regions</mat-option>
                </mat-select>
                <mat-slide-toggle *ngIf='rpState.adman_view !== ""' [(ngModel)]='rpState.show_adman_pies'>Pie Charts</mat-slide-toggle>
            </ng-container>
        </div>
        <div class='legend' *ngIf='rpState.adman_view_name.length && rpState.mode === "adman"'>
            <strong [innerHtml]='adman_view_name'></strong>
            <div class='legend-item'><span [class]='"legend-color hl-" + rpState.adman_view' [style.opacity]='0.1'></span><span>20%</span></div>
            <div class='legend-item'><span [class]='"legend-color hl-" + rpState.adman_view' [style.opacity]='0.2'></span><span>40%</span></div>
            <div class='legend-item'><span [class]='"legend-color hl-" + rpState.adman_view' [style.opacity]='0.3'></span><span>60%</span></div>
            <div class='legend-item'><span [class]='"legend-color hl-" + rpState.adman_view' [style.opacity]='0.4'></span><span>80%</span></div>
            <div class='legend-item'><span [class]='"legend-color hl-" + rpState.adman_view' [style.opacity]='0.5'></span><span>100%</span></div>
        </div>
        <div class='legend' *ngIf='rpState.mode === "staleness"'>
            <strong [innerHtml]='adman_view_name'></strong>
            <div class='legend-item'><span [class]='"legend-color hl-uncharted"' [style.opacity]='0.1'></span><span>New</span></div>
            <div class='legend-item'><span [class]='"legend-color hl-uncharted"' [style.opacity]='0.2'></span><span>&nbsp;</span></div>
            <div class='legend-item'><span [class]='"legend-color hl-uncharted"' [style.opacity]='0.3'></span><span>&nbsp;</span></div>
            <div class='legend-item'><span [class]='"legend-color hl-uncharted"' [style.opacity]='0.4'></span><span>&nbsp;</span></div>
            <div class='legend-item'><span [class]='"legend-color hl-uncharted"' [style.opacity]='0.5'></span><span>Stale</span></div>
        </div>
        <div class='legend' *ngIf='rpState.mode === "rehab-prio"'>
            <div class='legend-item'>
                <img src='assets/img/functional.png'>
                <div class='legend-label'>
                    <span><mat-icon [inline]='true'>west</mat-icon><span>Functional Water Point</span></span>
                    <span><mat-icon [inline]='true'>west</mat-icon><span>Likely Current Users Heatmap</span></span>
                    <span><mat-icon [inline]='true'>west</mat-icon><span>Population Assigned to this Point</span></span>
                </div>
            </div>
            <div class='legend-item'>
                <img src='assets/img/non-functional.png'>
                <div class='legend-label'>
                    <span><mat-icon [inline]='true'>west</mat-icon><span>High Crucialness Heatmap</span></span>
                    <span><mat-icon [inline]='true'>west</mat-icon><span>Non-Functional Water Point</span></span>                        
                    <span><mat-icon [inline]='true'>west</mat-icon><span>Users who would gain access<br/>by this Point if rehabilitated</span></span>
                </div>
            </div>
            <div class='legend-item'>
                <img src='assets/img/selected.png'>
                <div class='legend-label'>
                    <span><mat-icon [inline]='true'>west</mat-icon><span>Functional Water Point</span></span>
                    <span><mat-icon [inline]='true'>west</mat-icon><span>Currently appearing in the Data Table</span></span>
                </div>
            </div>
        </div>
    </div>
</app-airtable-layout>