<!-- 
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Filter by region</mat-label>
    <input type="text"
            placeholder="Pick one"
            aria-label="Number"
            matInput
            [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
    <mat-select [(value)]='country_name'>
        <mat-option *ngFor="let option of countryNameOptions" [value]="option">
            {{option.value}}
        </mat-option>
    </mat-select>
    </mat-autocomplete>
</mat-form-field> -->

<!-- <mat-form-field class="example-full-width" appearance="fill">
    <mat-label i18n>Country Name</mat-label>
    <mat-select [(value)]='bounds'>
        <mat-option *ngFor="let option of options2" [value]="option.state">
            {{option.display}}
        </mat-option>
    </mat-select>
</mat-form-field> -->

<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search region</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.display" (onSelectionChange)="sendState(option.state)">
        {{option.display}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>