@import '../common.less';

@headerSize: 70px;

:host {
   display: block;
   height: 100%;
   width: 100%;
   
   > div.app {
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: column;
    > .header {
        flex: 0 0 @headerSize;
        height: @headerSize;
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 8px 16px;
        .fontSans;
        color: @primaryBrand;
        .nice-shadow;
        z-index: @zIndexHeader;
        
        ::ng-deep .mat-menu-trigger {
            mat-icon {
                transform: rotate(0deg);
                transition: transform 0.2s ease-in-out;
            }
            &[aria-expanded=true] {
                mat-icon {
                    transform: rotate(180deg);
                }
            }
        }
        > .logo {
            .desktop({
                height: 100%;
            });
            .mobile({
                height: 80%;
            });
            margin-left: 16px;
        }
        > h1 {
            margin: 0;
            margin-inline-start: 32px;
            .desktop({
                font-size: 24px;
                line-height: 24px;
            });
            .mobile({
                font-size: 16px;
                line-height: 16px;
            });
        }
        .info {
            margin-inline-start: auto;
            margin-inline-end: 16px;
            cursor: pointer;
        }
    }
    > .content {
        flex: 1 1 100%;
        position: relative;
    }
   }
}