<div class='app'>
    <div class='header'>
        <button mat-fab color="primary" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <ng-content select=".menu"></ng-content>
        </mat-menu>    
        <img class='logo' src='assets/img/logo.png'>
        <h1><ng-content select='.title'></ng-content></h1>
        <div class='info' (click)='info.emit()'>
            <mat-icon aria-hidden="false" aria-label="info icon" fontSet='material-icons-outlined'>info</mat-icon>
        </div>
    </div>
    <div class='content'>
        <ng-content select='.content'></ng-content>
    </div>
</div>
