mat-drawer-container {
    height: 100%;
    width: 100%;

    .nav-icon {
        display: flex;
        flex-flow: column;
        align-items: center;
        cursor: pointer;
        margin: 16px;

        mat-icon {
            font-size: 32px;
            margin: 4px;
            width: 32px;
            height: 32px;
            display: block;
        }
    }

    .drawer-content {
        padding: 16px;
    }

    app-map-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}