<form>
    <mat-form-field appearance="outline">
      <mat-label>Search region or WPDx-ID</mat-label>
      <input type="text"
             aria-label="Number"
             matInput
             [formControl]="searchBarControlForm"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value || option.display" (onSelectionChange)="sendState(option.state)"
                    [innerHTML]='option.display'>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>